<div class="container">

    <h2>Ejercicios</h2>
    <div *ngIf="exerciseId===0" class="container2">
      <h5>Seleccione el ejercicio para empezar:</h5>
    </div>
    <div class="container2">
        <div class="sel-container">
          <div class="select-box">

              <select [(ngModel)]="exerciseId" (ngModelChange)="showWordList(exerciseId)" >
                <option value="0" disabled>Seleccione ejercicio</option>
                <option *ngFor="let exercise of exercises" [ngValue]="exercise.id">
                  {{ exercise.name }}
                </option>
              </select>

          </div>
  
        <button (click)="gotoQuestion(exerciseId)" class="button_1">Preguntar</button>
        </div>
    </div>

  <div *ngIf="exerciseId">
    <app-word-list [exerciseId]="exerciseId"></app-word-list>
  </div>

</div>