<div class="container">
  <h2>Ejercicios de Vocabulario de Alemán - Español</h2>
  <p>
    En este sitio encontrará algunos ejercicios de vocabulario
    dirigidos especialmente a los alumnos del Colegio Alemán-Nicaragüense.
  </p>
</div>

<section id="boxes">
  <div class="container">
    <div class="box">
      <img src="./assets/img/study2.png">
      <h3><a routerLink="/exercise">Estudiar</a></h3>
      <p>En esta sección puede estudiar el vocabulario de varias listas temáticas.</p>
    </div>
    <div class="box">
      <img src="./assets/img/test.gif">
      <h3><a routerLink="/question">Preguntas</a></h3>
      <p>Ejercicios con preguntas simples o selección multiple</p>
    </div>
    <div class="box">
      <img src="./assets/img/news.png">
      <h3>Novedades</h3>
      <p>Recientemente agregamos el vocabulario de 
        <a routerLink="/question/1"> Verbos 1</a></p>
    </div>
  </div>
</section>

